.onboarding-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #1C1C1C;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 100px;
  }
  
  .onboarding-logo {
	width: 75.98px;
	height: 77.17px;
	top: 173.44px;
	position: absolute;
  }
  
  .onboarding-groupImage {
	width: 10.13px;
	height: 19.03px;
	position: absolute;
	top: 201.91px;
	left: 123.56px;
  }
  
  .onboarding-singleStarLeft {
	width: 8.12px;
	height: 11.09px;
	position: absolute;
	top: 229.9px;
	left: 117.37px;
  }
  
  .onboarding-singleStarRight {
	width: 6.11px;
	height: 8.19px;
	position: absolute;
	top: 219.47px;
	left: 230.91px;
  }
  
  .onboarding-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 56.17px;
	font-style: italic;
	font-weight: 900;
	line-height: 68.47px;
	text-align: center;
	color: #27CDD0;
	width: 175px;
	height: 68px;
	top: 105.89px;
	position: absolute;
  }
  
  .onboarding-subtitle {
	font-family: 'Pretendard', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 17.9px;
	text-align: center;
	color: #FFFFFF;
	width: 283px;
	height: 36px;
	top: 269px;
	position: absolute;
  }
  
  .onboarding-button {
	width: 230px;
	height: 38px;
	top: 397px;
	border-radius: 50px;
	justify-content: center;
	align-items: center;
	margin-vertical: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	border: none;
	outline: none;
	font-weight: bold; 
  }
  
  .onboarding-importButton {
	top: 447px;
  }
  
  .onboarding-buttonNormal {
	background-color: #27CDD0;
  }
  
  .onboarding-buttonHover {
	background-color: #FFFFFF80;
  }
  
  .onboarding-buttonText {
	font-size: 16px;
	font-weight: bold;
  }
  
  .onboarding-buttonTextNormal {
	color: #222222;
  }
  
  .onboarding-buttonTextHover {
	color: #27CDD0;
  }
  